.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  opacity: 0.9;
  background-color: whitesmoke;
  justify-content: center;
}

.imgPok {
  height: 16em;
  width: 16em;
}

.container-search {
  height: 500px;
  width: 50px;

}