.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  opacity: 0.9;
  background-color: whitesmoke;
  justify-content: center;
}

.color-nav {
  background-color: var(--red);
}

.imgPok {
  height: 16em;
  width: 16em;
}

.container-search {
  height: 500px;
  width: 50px;

}

.divTable {
  display: table;
  max-width: 20em;
  float: right;
  display: flex;
  align-items: center;
  vertical-align: middle;
  align-self: center;
}
.divTableRow {
  display: table-row;
  align-self: center;
  box-align: center
}
.divTableHeading {
  background-color: #eee;
  display: table-header-group;
}
.divTableCell,
.divTableHead {
  border: 0px solid #999999;
  display: table-cell;
  padding: 0px 50px;
  align-items: center;
  vertical-align: middle;
}